:root {
    --bg-primary: #000;
    --bg-banner: linear-gradient(0deg, #909 4%, #F0F 49.5%);
    --text-light: #ffffff;
    --text-dark: #000;
    --title-primary-color: #F5F5F7;
    --subtitle-color:#6e6e73;
    --action-color: #2997ff;
}

header {
    background: var(--bg-primary);
    color: var(--text-light);
    height: fit-content; /*Garante que o elemento se ajuste dinamicamente ao conteúdo.*/
    opacity: 0.9;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 5px 0;
}

header nav ul {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    padding: 0 2rem;
}

header nav ul li {
    min-width: fit-content;
    height: fit-content;
    padding:  0 0.75rem;
    font-size: small;
    cursor: pointer;
    list-style: none;
}

main section {
    text-align: center;
    position: relative;
}

main .main-section h1 {
    color: var(--title-primary-color);
    font-size: 2rem;
    font-weight: bold;
    line-height: 2rem;
    letter-spacing: -0.28px;
}

main .main-section h2 {
    color: var(--subtitle-color);
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2rem;
    letter-spacing: 0.11px;
    margin: 1rem;
}

main .main-section h3 {
    color: var(--text-light);
    font-size: 1rem;
    font-weight: lighter;
    line-height: 2rem;
    letter-spacing: 0.11px;
    margin: 1rem;
}

main .main-section a {
    color: var(--action-color);
    line-height: 1.8rem;
    font-size: 1.2rem;
    text-decoration: none;
}

main .main-section .text-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    align-items: center;
    margin-top: 41px;
}

main .main-section img {
    width: 100%;
    height: auto;
}

main .about-section {
    display: flex;
    background-color: white;
}

main .about-section img {
    width: 50%;
    max-width: 40%;
    margin-left: 2em;
    margin-top: 1em;
}

main .about-section > div {
    position: absolute;
    left: 50%;
    color: var(--text-dark);
    font-family: 'roboto' Helvetica, sans-serif;
    margin-right: 2em;
}

main .about-section h2 {
    display: flex;
    margin-top: 1em;
}

main .about-section h1 {
    display: flex;
}

main .about-section p {
    margin-top: 1em;
    margin-bottom: 1em;
}

main .about-section > nav {
    top: 2em;
}

main .about-section nav ul {
    margin: 0;
    display: flex;
    gap: 1rem;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
}
main .about-section nav ul li {
    list-style: none;
}

main .about-section nav ul li img {
    margin: 0;
    margin-right: 1em;
}

main .about-section nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-light);
    font-size: 1.5rem;
    color: var(--text-dark);
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}